.fondo{
    position: fixed;
    top: 0;bottom: 0;right: 0;left: 0;
    background: #8c8c8c7f;
    transition:all 0.6s ease ;
    z-index: 2;
}

.modal{
    display: grid;
    justify-content: center;
    background: var(--background);
    margin: 10% 35%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--subtitle-shadow);
}

.header-modal{
    display: flex;
    justify-content: space-around;
}

.boton-cerrar{
    width: 20px;
    height: 20px;
    margin-top:10%;
}

@media (max-width:1000px) {
    .modal{
        margin: 15% 25%;
    }
}